<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>共享平台首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jquery-weui.css" rel="stylesheet">
    <link href="css/weui.css" rel="stylesheet" >
    
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- <script type="text/javascript" src='js/jquery.min.js'></script> -->
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <style>
        form .input-order {
            margin-bottom: 0px;
            padding: 0 2px;
            width: 42px;
            font-size: 12px;
        }
    </style>


    <script src="js/bootstrap.min.js"></script>
